<main>
  <ul class="nav nav-pills review-tabnav inventory-tabs" ngbNav #nav="ngbNav" role="tablist">
    <li class="nav-item" ngbNavItem="navpills-1">

      <a class="nav-link px-2 px-lg-3" (click)="tabClick(1)" ngbNavLink>
        Inventory
      </a>

      <ng-template ngbNavContent>
        <div class="task-container py-1">

          <div class="page-header my-3 d-flex justify-content-between align-items-center">
            <h2>Inventory Data</h2>

            <div class="d-flex align-items-center gap-2">
              <button
                type="button"
                [disabled]="selectedRows.length === 0"
                class="btn btn-danger d-flex align-items-center gap-2 size-50px"
                (click)="delConfirmation = true"
              >
                <i class="bi bi-trash"></i>
              </button>

              <button
                type="button"
                class="btn btn-primary d-flex align-items-center gap-2"
                style="background-color: #a8108afa; border: #a8108afa;"
                (click)="openDrawer()"
              >
                <i class="bi bi-plus-lg"></i>
                <span>Add Inventory</span>
              </button>
            </div>
          </div>


          <div *ngIf="delConfirmation" class="modal-overlay" (click)="delConfirmation = false">
            <div class="modal-box">
              <h5>Delete {{ selectedRows.length }} rows?</h5>
              <div class="modal-actions">

                <button class="btn btn-success btn-sm" (click)="delconfirmationfun()">Cancel</button>
                <button class="btn btn-danger btn-sm" (click)="confirmDelete()">Delete</button>

              </div>
            </div>
          </div>

          <p-table
            #dt
            [columns]="cols"
            [value]="inventoryList"
            [(selection)]="selectedRows"
            dataKey="id"
            [tableStyle]="{ 'min-width': '50rem' }"
            stripedRows="true"
            responsiveLayout="scroll"
            showGridlines="true"
            [paginator]="true"
            [rows]="10"
          >

            <ng-template pTemplate="header" let-columns>
              <tr>
                <th style="width: 4rem" class="text-center">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th style="width: 5rem" class="text-center">
                  <div class="d-flex fw-bold fs-6 justify-content-between">
                    S.No
                  </div>
                </th>
                <th pSortableColumn="{{ col.field }}" *ngFor="let col of columns">
                  <div class="d-flex fw-bold fs-6 justify-content-between">
                    {{ col.header }}
                    <p-sortIcon [field]="col.field    "></p-sortIcon>
                  </div>
                </th>
                <th>
                  <div class="d-flex fw-bold fs-6 justify-content-between">View</div></th>
                <!-- <th style="width: 8rem" class="text-center">Actions</th> -->
              </tr>
              <tr>
                <th></th>
                <th></th>
                <th>
                  <input
                    pInputText
                    type="text"
                    (input)="dt.filter($any($event.target).value, 'name', 'contains')"
                    placeholder="Search by Name"
                    class="form-control"
                  >
                </th>
                <th>
                  <input
                    pInputText
                    type="text"
                    (input)="dt.filter($any($event.target).value, 'employee', 'contains')"
                    placeholder="Search by Employee"
                    class="form-control"
                  >
                </th>
                <th>
                  <input
                    pInputText
                    type="text"
                    (input)="dt.filter($any($event.target).value, 'role', 'contains')"
                    placeholder="Search by Role"
                    class="form-control"
                  >
                </th>
                <th>
                  <input
                    pInputText
                    type="text"
                    (input)="dt.filter($any($event.target).value, 'description', 'contains')"
                    placeholder="Search by Description"
                    class="form-control"
                  >
                </th>
                <th></th>
              </tr>

              
            </ng-template>

            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
              <tr [pSelectableRow]="rowData">
                <td class="text-center">
                  <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                </td>
                <td class="text-center" (click)="openEditDrawer(rowData)">
                  {{ rowIndex + 1 }}
                </td>
                <td (click)="openEditDrawer(rowData)">{{ rowData.name }}</td>

                <td (click)="openEditDrawer(rowData)">{{ rowData.employee }}</td>

                <td (click)="openEditDrawer(rowData)">{{ rowData.role }}</td>

                <td (click)="openEditDrawer(rowData)">
                  {{ rowData.description.length > 50 ? (rowData.description|slice : 0 : 50) + "..." : rowData.description }}
                </td>
                <!-- <td class="text-center">
            <button type="button" class="btn btn-sm btn-outline-primary me-1" (click)="openEditDrawer(rowData)"
              title="Edit">
              <i class="bi bi-pencil-square"></i>
            </button>
            <button type="button" class="btn btn-sm btn-outline-danger" (click)="deleteItem(rowData)" title="Delete">
              <i class="bi bi-trash"></i>
            </button>
          </td> -->
                <td class="text-center">
                  <button type="button" class="btn btn-primary btn-sm d-inline-flex align-items-center justify-content-center p-0" style="width: 30px; height: 30px; background-color: #a8108a00; border-color: #a8108a00;" (click)="view(rowData)" title="View Details">
                    <i class="bi bi-eye" style="color: #a8108afa ;"></i>
                  </button>
                </td>
              </tr>
            </ng-template>

            <ng-template pTemplate="nodatamessage">
              <tr>
                <td colspan="6" class="text-center py-3">
                  No inventory data found.
                </td>
              </tr>
            </ng-template>

          </p-table>
        </div>
      </ng-template>
    </li>
    <li class="nav-item" ngbNavItem="navpills-2">

      <a class="nav-link px-2 px-lg-3" (click)="tabClick(2)" ngbNavLink>
        Category
      </a>

      <ng-template ngbNavContent>
        <div class="task-container">
          <div class="page-header my-3 d-flex justify-content-between align-items-center">

            <h2>Inventory Category</h2>

          </div>
        </div>

      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav" class="inventory-tab-content">
  </div>
</main>
<nz-modal
  nzDraggable
  [nzVisible]="ispopup"
  nzTitle="Inventory Details"
  [nzCentered]="true"
  [nzMaskClosable]="true"
  [nzFooter]="null"
  nzClassName="viewModal"
  (nzOnCancel)="closeView()"
>
  <ng-container *nzModalContent>
    <div *ngIf="selectedPopUpData" class="p-3">
      <!-- <div class="row mb-3 align-items-start">
        <p class="col-4 mb-0 fw-semibold" style="color: #a8108afa;">Machine Name</p>
        <p class="col-1 mb-0 text-break" style="color: #a8108afa;">:</p>
        <p class="col-6 mb-0 text-break">{{ selectedPopUpData.name }}</p>
      </div>
      <div class="row mb-3 align-items-start">
        <p class="col-4 mb-0 fw-semibold" style="color: #a8108afa;">Employee Name</p>
        <p class="col-1 mb-0 text-break" style="color: #a8108afa;">:</p>
        <p class="col-6 mb-0 text-break">{{ selectedPopUpData.employee }}</p>
      </div>
      <div class="row mb-3 align-items-start">
        <p class="col-4 mb-0 fw-semibold" style="color: #a8108afa;">Role</p>
        <p class="col-1 mb-0 text-break" style="color: #a8108afa;">:</p>
        <p class="col-6 mb-0 text-break">{{ selectedPopUpData.role }}</p>
      </div>
      <div class="row mb-2 align-items-start">
        <p class="col-4 mb-0 fw-semibold" style="color: #a8108afa;">Description</p>
        <p class="col-1 mb-0 text-break" style="color: #a8108afa;">:</p>
        <p class="col-6 mb-0 text-break">{{ selectedPopUpData.description }}</p>
      </div> -->

      <table class="table table-bordered mb-0 custom-detail-table">
        <tbody>
          <tr>
            <th class="table-label">Machine Name</th>
            <td>{{ selectedPopUpData.name }}</td>
          </tr>
          <tr>
            <th class="table-label">Employee Name</th>
            <td>{{ selectedPopUpData.employee }}</td>
          </tr>
          <tr>
            <th class="table-label">Role</th>
            <td>{{ selectedPopUpData.role }}</td>
          </tr>
          <tr>
            <th class="table-label">Description</th>
            <td class="text-break">{{ selectedPopUpData.description }}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </ng-container>

</nz-modal>
<nz-drawer
  [nzVisible]="isVisible"
  [nzClosable]="true"
  [nzMaskClosable]="true"
  [nzWidth]="500"
  [nzTitle]="drawerTitle"
  (nzOnClose)="closeDrawer()"
  [nzFooter]="footer"
  nzWrapClassName="taskedit-drawer"
>
  <ng-container *nzDrawerContent>

    <form #inventoryForm="ngForm" (ngSubmit)="saveInventory()" class="drawer-form">

      <!-- <div class="drawer-header">
          <h2>{{ drawerTitle }}</h2>
      </div> -->

      <div class="drawer-body">


        <div class="mb-3">
          <label for="inventoryName" class="form-label fw-semibold">
            Machine Name <span class="text-danger">*</span>
          </label>
          <input
            type="text"
            id="inventoryName"
            name="name"
            class="form-control"
            placeholder="Enter Machine Name"
            [class.is-invalid]="formSubmitted && !currentInventory.name?.trim()"
            required
            [(ngModel)]="currentInventory.name"
          />
        </div>

        <div class="mb-3">
          <label for="inventoryemployee" class="form-label fw-semibold">
            Employee Name<span class="text-danger">*</span>
          </label>

          <input
            type="text"
            id="inventoryemployee"
            name="employee"
            class="form-control"
            placeholder="Enter Employee Name"
            [(ngModel)]="currentInventory.employee"
            [class.is-invalid]="formSubmitted && !currentInventory.employee?.trim()"
            required
          />

        </div>
        <div class="mb-3">
          <label for="inventoryrole" class="form-label fw-semibold">
            Role <span class="text-danger">*</span>
          </label>

          <input
            type="text"
            id="inventoryrole"
            name="role"
            class="form-control"
            placeholder="Enter Role"
            [(ngModel)]="currentInventory.role"
            [class.is-invalid]="formSubmitted && !currentInventory.role?.trim()"
            required
          />
        </div>

        <div class="mb-3">
          <label for="inventoryDesc" class="form-label fw-semibold">
            Description <span class="text-danger">*</span>
          </label>

          <textarea id="inventoryDesc" name="description" class="form-control" rows="4" placeholder="Enter description"
            [(ngModel)]="currentInventory.description"
            [class.is-invalid]="formSubmitted && !currentInventory.description?.trim()" required></textarea>
        </div>
      </div>
    </form>
  </ng-container>
</nz-drawer>
<ng-template #footer>
        
  <div class="drawer-footer d-flex justify-content-end gap-2">

    <button type="button" class="btn btn-outline-danger" (click)="closeDrawer()">
      Cancel
    </button>

    <button
      type="button"
      class="btn btn-success"
      style="background-color: #a8108afa; border-color: #a8108afa;"
      (click)="saveInventory()"
      *ngIf="!isEditDrawer"
    >Save</button>

    <button
      type="button"
      class="btn btn-success"
      style="background-color: #a8108afa; border-color: #a8108afa;"
      (click)="saveInventory()"
      *ngIf="isEditDrawer"
    >Update</button>
  </div>
</ng-template>
