:host {
  display: block;
  width: 100%;
  min-height: 100vh;
  background: #f4f7fb;
  padding: 24px;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.task-container {
  background: #fff;
  border-radius: 14px;
  padding: 24px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  flex-wrap: wrap;
  gap: 20px;
}

.page-header h2 {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  color: #1f2937;
}

.page-header p {
  margin-top: 5px;
  color: #6b7280;
}
.p-button-primary,
.p-button-danger {
  background-color: rgba(251, 250, 252, 0.98);
  color: #070808;
}

.toolbar {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}

.toolbar input {
  width: 260px;
}

:host ::ng-deep .p-datatable {
  border-radius: 12px;
  overflow: hidden;
}

:host ::ng-deep .p-datatable thead tr th {
  background: rgba(21, 10, 48, 0.98);
  color: white;
  border: none;
  font-size: 14px;
  padding: 14px;
}

:host ::ng-deep .p-datatable tbody tr td {
  padding: 18px 14px;
  vertical-align: top;
}

:host ::ng-deep .p-datatable tbody tr {
  transition: 0.25s;
  cursor: pointer;
}

:host ::ng-deep .p-datatable tbody tr:hover {
  background: #eef5ff;
}

:host ::ng-deep .p-buttons {
  cursor: pointer;
}
:host ::ng-deep .p-button:disabled {
  cursor: not-allowed !important;
  opacity: 0.6;
}
:host ::ng-deep .p-datatable .p-column-header .labelsearch {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  gap: 10px !important;
}

.labelsearch {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.labelsearch input {
  flex: 1;
  min-width: 20px;
}

.labelsearch span {
  white-space: nowrap;
}
.labelsearch2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.labelsearch2 input {
  flex: 1;
  min-width: 20px;
}

.labelsearch2 span {
  white-space: nowrap;
}

.selected-row {
  background: #dbeafe !important;
}

.employee-name {
  font-size: 15px;
  font-weight: 600;
}

.domain-badge {
  background: #eff6ff;
  color: #070808;
  padding: 7px 14px;
  border-radius: 20px;
  font-weight: 600;
  display: inline-block;
}

.task-chip-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.task-chip {
  background: rgba(228, 226, 230, 0.685);
  color: rgb(0, 0, 0);
  padding: 7px 14px;
  border-radius: 18px;
  font-size: 13px;
  font-weight: 600;
  transition: 0.25s;
}

.task-chip:hover {
  transform: translateY(-2px);
}
:host ::ng-deep .taskbtn{
    width: 15px !important;
    height: 10px !important;
   top: -9px;
   left: 17px;
}
:host ::ng-deep .taskbtn:hover {
    color: #fffcfc !important;
    background: rgb(253, 102, 102) !important;
}
:host ::ng-deep .taskbtn .p-button-icon{
    font-size:8px;
}

.drawer-title {
  background-color: rgba(21, 10, 48, 0.98);
  border-radius: 8px;
  padding: 18px;
  margin-bottom: 25px;
}

.drawer-title h2 {
  margin: 0;
  color: #ffffff;
}

.employee-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px;
  margin-bottom: 30px;
}

.field {
  display: flex;
  flex-direction: column;
}

.field label {
  font-weight: 600;
  margin-bottom: 8px;
  color: #374151;
}

.task-heading {
  margin-bottom: 18px;
}

.task-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.task-card {
  background: white;
  border: 2px solid #d9d9d9;
  border-radius: 12px;
  padding: 18px;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  transition: 0.25s;
  user-select: none;
}

.task-card:hover {
  transform: translateY(-3px);
  border-color: #000000;
  box-shadow: 0 5px 15px rgba(37, 99, 235, 0.15);
}

.task-card.active {
  background: #58e053;
  color: rgb(56, 55, 55);
}

.drawer-footer {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 35px;
}

@media (max-width: 900px) {
  .page-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .toolbar {
    width: 100%;
  }

  .toolbar input {
    width: 100%;
  }

  .employee-grid {
    grid-template-columns: 1fr;
  }

  .task-grid {
    grid-template-columns: 1fr;
  }
}
