<div class="dashboard-shell" [class.sidebar-expanded]="sidebar">

  <aside class="sidebar" [class.expanded]="sidebar">

    <div class="sidebar-header">
      <button type="button" class="sidebar-toggle-button" (click)="expand()">
        <i class="bi" [class.bi-hurricane]="sidebar"></i>
        <i class="bi" [class.bi-hurricane]="!sidebar"></i>
      </button>

      <span class="sidebar-title">APP</span>
    </div>

    <nav class="pure-menu" aria-label="Main navigation">
      <ul class="pure-menu-list">

        <li
          class="pure-menu-item
                 pure-menu-has-children
                 pure-menu-allow-hover"
        >
          <div class="pure-menu-link menu-parent-link">
            <i class="bi bi-journal-text"></i>
            <span class="menu-text">Reports</span>
            <i class="bi bi-chevron-right menu-arrow"></i>
          </div>


          <ul class="pure-menu-children">

            <li class="pure-menu-item">
              <a href="#" class="pure-menu-link" (click)="onHrefClick($event)">
                Report 1
              </a>
            </li>

            <li class="pure-menu-item">
              <a href="#" class="pure-menu-link" (click)="onHrefClick($event)">
                Report 2
              </a>
            </li>

            <li
              class="pure-menu-item
                     pure-menu-has-children
                     pure-menu-allow-hover"
            >
              <div class="pure-menu-link">
                <span>Report 3</span>
                <i class="bi bi-chevron-right menu-arrow"></i>
              </div>

              <ul class="pure-menu-children">
                <li class="pure-menu-item">
                  <a href="#" class="pure-menu-link" (click)="onHrefClick($event)">
                    Report 3.1
                  </a>
                </li>
              </ul>
            </li>

            <li class="pure-menu-item" *ngIf="showdomainreport('All')">
              <a (click)="openReport('All')" class="pure-menu-link">
                All
              </a>
            </li>
            <li class="pure-menu-item" *ngIf="showdomainreport('Voltas')">
              <a (click)="openReport('Voltas')" class="pure-menu-link">
                Voltas
              </a>
            </li>

            <li class="pure-menu-item" *ngIf="showdomainreport('Sms')">
              <a (click)="openReport('Sms')" class="pure-menu-link">
                SMS
              </a>
            </li>

            <li class="pure-menu-item" *ngIf="showdomainreport('Tvs')">
              <a (click)="openReport('Tvs')" class="pure-menu-link">
                TVS
              </a>
            </li>

          </ul>
        </li>
        <li>
          <div class="pure-menu-link menu-parent-link">
            <i class="bi bi-file-earmark-text" (click)="taskeditOpen()"></i>
            <span class="menu-text">Task Edit</span>
            <i class="bi bi-chevron-right menu-arrow"></i>
          </div>
        </li>

      </ul>
    </nav>

    

  </aside>

  <main class="main-content">
    <header class="user-header" *ngIf="currentUser">
      <div class="header-left">
        <a class="home-link" aria-current="page" (click)="Home(101)"><i class="bi bi-house"></i> Home </a>
        <!-- <a class="route-link" aria-current="page" href="#">{{ router.url }}</a> -->
      </div>

      <div class="header-right">
        
        <!-- <select class="form-select" aria-label="Default select example" (change)="placeChange($event)">
          
          <option value="Voltas">Voltas</option>
          <option value="Area1">Area1</option>
          <option value="Area2">Area2</option>
        </select> -->

        <nz-select
          [(ngModel)]="selectClient"
          (ngModelChange)="changeClient($event)"
          nzPlaceHolder="Select Client"
          class="nz-select-option"
          nzDropdownClassName="area-dropdown"
        >
          <nz-option
            *ngFor="let client of usersList"
            [nzValue]="client.id"
            [nzLabel]="client.name"
          >
          </nz-option>
        </nz-select>
        
        <div class="user-details">
          <p class="user-name">{{ currentUser.name }}</p>
          <p class="user-role">{{ currentUser.role }}</p>
        </div>
        <div
          class="profile-pic"
          nz-dropdown
          [nzDropdownMenu]="profileMenu"
          nzTrigger="click"
          nzPlacement="bottomRight"
        >
          <img [src]="profilePicUrl" alt="Profile">
        </div>

        <nz-dropdown-menu #profileMenu="nzDropdownMenu">
          <ul nz-menu class="profile-dropdown-menu">
            <li nz-menu-item (click)="profile()">
              <i class="bi bi-person me-2"></i> My Profile
            </li>
            <li nz-menu-divider></li>
            <li nz-menu-item nzDanger (click)="confirmLogout()">
              <i class="bi bi-box-arrow-right me-2"></i> Logout
            </li>
          </ul>
        </nz-dropdown-menu>

        <nz-modal
          [nzVisible]="isLogout"
          nzTitle="Confirm Logout"
          [nzCentered]="true"
          [nzMaskClosable]="true"
          [nzFooter]="null"
          nzClassName="confirmModal"
          (nzOnCancel)="closePopUp()"
        >
          <ng-container *nzModalContent>
            <div *ngIf="isLogout">
              <p>Are you sure you want to Logout? </p>
              <div class="lm-buttons">
                <button nz-button nzType="primary" (click)="logout()">
                  Yes
                </button>
                <button nz-button nzType="default" (click)="closePopUp()">
                  No
                </button>
              </div>
            </div>
          </ng-container>
        </nz-modal>
      </div>
    </header>


    <router-outlet></router-outlet>
  </main>


</div>
